@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
body, html {
  overflow-x: hidden;
  font-family: "Playfair Display", serif;
  height: 100%;
}

.wrapper {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.wrapper .content-video {
  position: absolute;
  z-index: 10;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.wrapper .carousel-container {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 90vh;
}
.wrapper .carousel-container .carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrapper .carousel-container .carousel .carousel-item {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.wrapper .carousel-container .carousel .carousel-item.active {
  left: 0;
  opacity: 1;
}
.wrapper .carousel-container .carousel .video-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Preloader Styles */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#preloader h1 {
  background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 10vw;
  font-family: "Source Sans Pro", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
.hidden {
  display: none;
}

@keyframes turner {
  0%, 100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(360deg);
  }
}
#sidebar {
  background: #333;
  color: white;
  padding: 15px;
  position: fixed;
  width: 200px;
  top: 0;
  left: -250px; /* Sidebar hidden by default */
  height: 100vh;
  transition: left 0.3s;
  z-index: 100;
}

#sidebar.active {
  left: 0;
}

@media (max-width: 991px) {
  #sidebar {
    left: -250px; /* Sidebar hidden by default on small screens */
  }
  #sidebar.active {
    left: 0; /* Sidebar appears when active */
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .wrapper .content-video {
    position: absolute;
    z-index: 10;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .wrapper .content-video .Tech-Yard {
    position: relative;
    top: 100px;
    gap: 170px;
    font-weight: 600;
    display: flex;
    font-size: 2rem;
  }
  .wrapper .content-video .Tech-Yard div {
    margin: 0 10px;
  }
  .wrapper .content-video .Hub-IT {
    position: relative;
    top: -110px;
    font-weight: 600;
    display: flex;
    font-size: 2rem;
  }
  .wrapper .content-video .Hub-IT div {
    margin: 0 10px;
  }
  .wrapper .content-video .images img {
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    transition: transform 1s;
    animation: turner 10s infinite;
  }
  .wrapper .carousel1-container {
    position: relative;
    z-index: 1;
    width: 115%;
    height: 75vh;
  }
  .wrapper .carousel1-container .carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .wrapper .carousel1-container .carousel .carousel-item {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .wrapper .carousel1-container .carousel .carousel-item.active {
    left: 0;
    opacity: 1;
  }
  .wrapper .carousel1-container .carousel .video-bg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.why-choose-us h2 {
  font-family: "Georgia", serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.why-choose-us p {
  font-size: 16px;
  margin-bottom: 30px;
}

.why-choose-us .col-md-3 img {
  margin-bottom: 15px;
}

.why-choose-us h4 {
  font-weight: bold;
  margin: 10px 0;
}

.contact-social {
  background-color: #f9f9f9;
  padding-top: 30px;
}

.contact-social h3 {
  font-family: "Georgia", serif;
  font-weight: bold;
}

.contact-social p, .contact-social ul {
  font-size: 14px;
}

.contact-social ul {
  list-style-type: none;
  padding: 0;
}

.contact-social ul li {
  margin: 5px 0;
}

.contact-social ul li a {
  text-decoration: none;
  color: #000;
}

.contact-social ul li a:hover {
  text-decoration: underline;
}

.contact-social .row .col-12 a img {
  margin: 0 10px;
}

.contact-social .row .col-12 h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

.best-sales {
  margin-top: 5rem;
}
.best-sales h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}
.best-sales .carousel {
  position: relative;
}
.best-sales .carousel .carousel-indicators {
  bottom: -50px;
}
.best-sales .carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 5px;
}
.best-sales .carousel .carousel-indicators button.active {
  background-color: #007bff;
}
.best-sales .carousel .carousel-control-prev,
.best-sales .carousel .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Center vertically in the middle of the slider */
  top: 50%;
  transform: translateY(-50%);
}
.best-sales .carousel .carousel-control-prev {
  left: -50px; /* You can adjust the value to move it further left */
}
.best-sales .carousel .carousel-control-next {
  right: -50px; /* You can adjust the value to move it further right */
}

/* Navbar CSS to keep it static (fixed at the top) */
.navbar {
  position: fixed;
  padding-right: 50px;
  padding-left: 50px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is above other content */
}

.loading-text {
  color: white; /* Text color */
  font-size: 3rem; /* Font size */
  opacity: 0; /* Start invisible */
  animation: fadeIn 2s forwards, bounce 1s infinite alternate; /* Animation */
}

/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/* Bounce animation */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.container {
  opacity: 0;
  scale: 0.8;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 50px 36%;
}

@keyframes fade-in {
  to {
    opacity: 1;
    scale: 1;
  }
}
*::-webkit-scrollbar {
  height: 7px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #858B8C;
}

*::-webkit-scrollbar-track:hover {
  background-color: #9BA1A3;
}

*::-webkit-scrollbar-track:active {
  background-color: #D2DBDE;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #000000;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #4A5050;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #969A9A;
}

/* Custom CSS for announcement section */
.announcement-carousel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcement-carousel .overlay {
  background: rgba(0, 0, 0, 0.6); /* Dark overlay for better text visibility */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
}

.announcement-carousel h4,
.announcement-carousel p {
  position: relative;
  z-index: 1;
}

.why-choose-us .card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

.why-choose-us .card-title {
  font-weight: bold;
}

.motivation-section {
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 10px;
}

.company-info {
  padding: 2rem;
  border-radius: 0.5rem;
}
.company-info h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.company-info .card {
  background-color: transparent;
  border: none;
}
.company-info .card-title {
  font-size: 1.8rem;
}
.company-info img {
  background-color: black;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=styles.css.map */